.body {
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.comp {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.comp.a {
  background-color: palevioletred;
}

.comp.b {
  background-color: royalblue;
}

.comp.c {
  background-color: seagreen;
}

.blur {
  opacity: 0.5;
}

.olive {
  background-color: olivedrab !important;
}

.tomato {
  background-color: tomato !important;
}

.purple {
  background-color: purple !important;
}
